<!--
 @author Victoria Gillis
  carousel featuretter for projects page 

-->

 <script src="...javascripts/carousel"></script>
 <link rel="stylesheet" type="text/css" href="carousel.css">
 <br/>
<h1>Projects</h1>
  <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">.Creative Web Design Solutions<span class="text-muted"> - Unfinished portfolio site</span></h2>
          <p class="lead"> Mostly finished portfolio site made by Jeremy McCulley and myself. Made with custom css and wordpress</p>
            
        </div>
        <div class="col-md-5">
          <a href="http://www.createws.com" ><img class="featurette-image img-responsive center-block" img src="images/create.jpg" alt="Creative Portfolio Site"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Endeavour Tattoo <span class="text-muted">- New Site</span></h2>
          <p class="lead">This site was mainly made with wordpress and bootstrap, and quite a lot of custom css</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
         <a href="http://www.endeavourtattoo.ca/public_html/wp/"> <img class="featurette-image img-responsive center-block" data src="images/endeavourNew.jpg" alt="New Endeavour Tattoo"></a>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
           <h2 class="featurette-heading">Endeavour Tattoo <span class="text-muted">-Original Site</span></h2>
          <p class="lead">This is a hard-coded site, with some use of bootstrap</p>
        </div>
        <div class="col-md-5">
        
         <a href="http://www.endeavourtattoo.ca/index.php" ><img class="featurette-image img-responsive center-block" img src="images/endv.jpg" alt="Original Endeavour Tattoo"></a>
        </div>
      </div>


      <hr class="featurette-divider">