<!--
@author Victoria Gillis
 About Page
 -->
<% include partials/header %>
<body>
   
 
    <div class="container">
        <div class="page-header">
        <br/>
        <br/>
            <h1>
               About Me   
            </h1>
           
        </div>
       <div class="row">
        <div class="col-md-4">
         <img src= "images/vick2.jpg" >
         
        </div>
        <div class="col-md-4">
          <h2>A Bit About Me</h2>
          <p>I have always liked to make things. I started by building tables with my grandpa
          when I was a kid. Later I moved on to making art. WHen I found out I could combine functionality
          and design, on a computer no less, I knew what i wanted to do for a living.
          </br>
          In my spare time I like to read, playvideo games, or draw.  Any night I get more than 3 hours of sleep
          is a good night indeed.</p>
       </div>
       </div>
 </div>
        
  
  <% include partials/boot.ejs %>
   
    <% include partials/footer %>
  

