/* custom css goes here */

.completed-true {
  text-decoration: line-through;
  color: grey;
}

#searchTodo, #newTodo {
    display: block;
    width: 30%;
    border: 2px solid grey;
    padding: 5px;
    margin: 5px 0 5px 0;
}